name: Docs
on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v17
    - uses: cachix/cachix-action@v10
      with:
        name: jmgilman
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix develop -c just check
  docs:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: jmgilman
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix develop -c just deploy